*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(245, 211, 149);
    height: 50px;
    padding-top: 10px;
}

.logo{
    width: 180px;
    height: auto;
}

.contacts{
    display: flex;
    justify-content: right;
}

.contacts img {
    width: 24px;
    height: 24px;
}

.contacts p{
    display: block;
    width: 110px;
}



.main{
    height: 120vh;
    position: relative;
    padding-top: 20px;
    background: url(../image/фон2.jpg) no-repeat 100%;
    background-size: cover;
}

.Verhderevo{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main_section_inner{
    position: relative;
}

.winds {
    position: relative;
    width: 50%;
    height: auto;
}

.forest{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: auto;
}

.main_section h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 100px auto;
}

.str2{
    position: relative;
    height: 100vh;
    background: #66BB44;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

footer .links{
    text-align: right;
}




.str2 {
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.text-about h1 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}
.text-about p{
    font-size: 20px;
    letter-spacing: 1.2px;
}

.circle {
    position: relative;
    overflow: hidden;
}

@media (min-width: 375px) and (max-width: 991px){
    .main{
        height: 90vh;
        padding-top: 50px;
    }   

    .main_section h2{
        z-index: 9;
    }
    .forest{
        z-index: 999;
    }


    .circle.circle1{
        display: none;
    }
    .circle.circle2 {
        display: none;
    }

    .text-about p {
        font-size: 18px;
        text-align: center;
    }

    .vetki2{
        display: none;
    }

}

.circle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.circle.circle1 {
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.circle.circle2 {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.str3 {
    position: relative;
    min-height: 100vh;
    background: #66BB44;
}

.str3 h2{
    font-size: 40px;
    color: #fff;
}

.str3 p{
    font-size: 20px;
}

.str3 ul>li {
    font-size: 20px;
}

.str4{
    position: relative;
    height: 100vh;
    background: #66BB44;
}

.str4 h2{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.str4 p{
    font-size: 20px;
    text-align: center;
}

.vetki1{
    position: absolute;
    width: 500px;
    height: auto;
    top: 200px;
    right: 0;
}

.vetki2 {
    position: absolute;
    width: 300px;
    height: auto;
    top: -200px;
    left: 0;
}

.video1 {
    width: 100%;
    height: 500px;
}

.str5{
    position: relative;
    height: 100vh;
    background: #66BB44;
}

.str6{
    position: relative;
    height: 100vh;
    background: #66BB44;
}

.str6 h1{
    color: #fff;
    text-align: center;
}

.str6 p{
    font-size: 22px;
    text-align: center;
}

.str7{
    position: relative;
    background: #66BB44;
}

.str7 h1{
    color: #FFF;
    text-align: center;
}

.cards{
    background: #66BB44;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card_inner h5{
    color: rgb(241, 241, 241);
    text-align: center;
}

.vnizdereva{
    width: 100%;
}